*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FONTS */

/* titolo: */
/* font-family: 'Acme', sans-serif; */

/* Common */
body{
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

/* Header */
.title-bar{
    height: 70px;
    line-height: 70px;
}
.search-bar{
color: white;
height: 70px;
line-height: 70px;
background-color:rgb(41, 177, 221);    
text-align: center;
}
.search-bar select{
    margin-left: 10px;
}
h1{
    font-family: 'Acme', sans-serif;
    color: rgb(41, 177, 221);
}

/* main */
main{
    
    padding: 50px;
    height: calc(100% - 140px);
    overflow-y: hidden;
    background-color: #d1d1d1;
}

.icons{
    display: flex;
    flex-wrap: wrap;
}

.icon{
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 4px 5px 5px darkblue;
    width:calc(100%/5 - 30px);
    margin: 15px;
    text-align: center;
}

.icon-name{
   font-size: 20px;
}