*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FONTS */

/* titolo: */
/* font-family: 'Acme', sans-serif; */

/* Common */
body{
    font-family: 'Rubik', sans-serif;
    height: 100wh;
}

/* Header */
.search-bar{
color: white;
padding: 20px;
background-color:rgb(41, 177, 221);    
text-align: center;
}
.search-bar select{
    margin-left: 10px;
}
h1{
    font-family: 'Acme', sans-serif;
    color: rgb(41, 177, 221);
    padding: 10px;
}

/* main */
main{
    height: calc(100%-30px);
    overflow-y: hidden;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.card{
    text-align: center;
    line-height: 100px;
    width: calc(100%/5 - 20px);
    margin: 10px;
    height: 100px;
    border-radius: 2px;
    background: rgb(214, 212, 212);
    box-shadow: 2px 2px 2px #383535;
}

.icon-name{
   font-size: 20px;
}